
<mat-sidenav-container fullscreen >
  <mat-sidenav #sidenav [(opened)]="opened">
      <div class="container" style="font-size:24px;text-align: center;">
      </div>
      <div>
        <mat-nav-list>
          <mat-list-item>
            <mat-icon>home</mat-icon>
     <small style="margin: 5px;" (click)="onHome()">Home</small>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>contact_support</mat-icon>
            <a routerLink="onContact()">Contact </a><br>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>dashbord</mat-icon>
            <a routerLink="onAbout()">About Us
            </a><br>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-sidenav>
  <mat-sidenav-content>
 <div style="border:2px solid #28c9ac;">
  

    <mat-icon
    
      (click)="opened=!opened">menu</mat-icon>

    <h1>
    <p align="right">
     <small style="margin: 5px;" (click)="onHome()">Home</small>
     <small style="margin: 5px;"(click)="onContact()">Contact</small>
     <small style="margin: 5px;"(click)="onAbout()">AboutUs</small>
    </p>
    </h1>
  </div>

  <input type="text" value="" id="myHeader"/>

  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>